{% extends "base.html" %}

{% block content %}

  <h1>{{ habittracker.habit_name}} </h1>
  <p><strong>Owner</strong>: {{ habittracker.owner }}</p>
  <p><strong>Date Recorded</strong>: {{ habittracker.date_recorded }}</p>
  <p><strong>Habit Description:</strong></p>
  <p>{{ habittracker.habit_description}} {{ habittracker.habit_numtarget }}</p>
    <br>
    <br>
  <p><strong>Daily Records</strong></p>
  
    {% for record in habittracker.record_set.all %}
      <hr>
      <p>{{ record.user }} ({{ record.record_added }})- {{ record }}</p>
      <hr>
    {% empty %}
      <p>There are no comments.</p> 
    {% endfor %}
    <a href="{% url 'add_record_to_habittracker' pk=habittracker.pk %}">Add a new daily record</a>
{% endblock %}